<div class="dashboard-nav">
  <nav class="nav">
    <%= link_to "My Gardens", dashboard_gardens_path, class: "nav-link" %>
    <%= link_to "My Clients", dashboard_bookings_path, class: "nav-link" %>
    <%= link_to "My Bookings", dashboard_rentals_path, class: "nav-link" %>
  </nav>
</div>

<div class="container">
  <% @gardens.each do |garden| %>
    <%= link_to garden_path(garden.id) do %>
      <div class="row">
        <div class="col-12">
          <div class="card-product">
            <%= cl_image_tag garden.photo.key, crop: :fill %>
            <div class="card-product-infos">
              <h2> <%=garden.name %> </h2>
              <h5> <%= garden.country %> </h5>
              <p> <%= garden.description %> </p>
              <p><strong><%= garden.price_per_month %> €/month </strong></p> <br>
              <%= link_to garden_path(garden), method: :delete do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  <% end %>
 </div>

