<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <div class="content">
      <h1>Find a garden in your neighbourhood</h1>

      <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline'} do |f| %>
      <%= f.input :country,input_html: { value:""}, as: :string %>
      <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>

      </form>    </div>
      </div>
</div>






<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>Gardens</h1>
      <% @gardens.each do |garden| %>
        <h3><%= garden.name %></h3>
        <p><%= garden.description %></p>
        <p><%= garden.country %></p>
        <p><%= garden.price_per_month %></p>
      <% end %>
    </div>
  </div>
</div> -->
