<div>
  <div class="banner-content">
    <div class= "container">
      <h1>Veggies in the city</h1>
      <p>Rent a spot and grow vegetables!</p>
      <%= link_to "Add a garden", new_garden_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<div class="search-form">
  <%= render 'shared/searchform' %>
</div>
<!--
<div class="container">
  <% @gardens.each do |garden| %>
    <%= link_to garden_path(garden.id) do %>
      <div class="row">
        <div class="col-8">
          <div class="card-product">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/garden-layout-1582574581.jpg" />
            <div class="card-product-infos">
              <h2> <%=garden.name %> </h2>
              <h5> <%= garden.country %> </h5>
              <p> <%= garden.description %> </p>
              <p><strong><%= garden.price_per_month %> €/month </strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
-->

<div class="container">
  <div class="row">
    <div class="cards">
      <% @gardens.each do |garden| %>
        <%= link_to garden_path(garden.id) do %>
          <div class="col-12">          
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/garden-layout-1582574581.jpg)">
              <h2> <%=garden.name %> </h2>
              <h5> <%= garden.country %> </h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
