<div class = "container">

  <div class="card-product">
    <%= cl_image_tag @garden.photo.key, crop: :fill %>
    <div class="card-product-infos">
      <h2> <%= @garden.name %> </h2>
      <p> <%= @garden.description %> </p> <br>
      <div class="container">
        <h2 class="card-trip-pricing"><%= @garden.price_per_month %> € / month</h2> <br>
        <!-- <h2>Select the starting rental day!</h2> -->
        <div class="form-wrapper" style="width: auto; margin: 0 auto;">
          <%= simple_form_for([ @garden, @booking]) do |f| %>
          <%= f.input :date_start, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :date_end, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Rent now!", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
